*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header :only-child{
    font-size: 33px;
    color: #E5316F;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 30px;
}

.mainContainer{
    max-width: 1000px;
    margin: 45px auto;
    
}

section p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}