*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

header :only-child{
    font-size: 33px;
    color: #E5316F;
    text-align: center;
    font-family: 'Fredoka One', cursive;
    margin-top: 30px;
}

.mainContainer{
    max-width: 1000px;
    margin: 45px auto;
}

section p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}

.midContainer{
    width: 100%;

}

.smallContainer{
    width: 30%;
    height: 5.5rem;
    margin-top: 40px;
    background-color: #100E17;
    float: right;
    margin-right: 25px;
    box-shadow: 10 5;

}

.smallContainer span{
    margin-left: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white; 
    margin-top: 3px;
}

.name{
    margin-top: 30px;
    font-weight: 600;
}

.smallContainer :last-child{
    color: #2289CF;
}

img{
    width: 5.5rem;
    float: left;
}


.job{
    display: block;
}

